body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #dc3545;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.img-fluid {
    transition: transform 0.3s;
}

.img-fluid:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
